@layer overrides {
  .hg-select {
    border-radius: 60px !important;
    background: #262626 !important;
    padding-right: 40px !important;
    position: relative;
    height: 60px !important;
    text-align: center !important;
  }

  .hg-select option {
    background: #262626 !important;
    border-radius: 60px !important;
  }

  .hg-select::-ms-expand {
    display: none;
    background: #262626 !important;
    border-radius: 60px !important;
  }

.chakra-select__icon-wrapper {
  right: 16px !important;
  top: 50% !important;
  transform: translateY(-50%);
  pointer-events: none;
}
}

