.fade-in-section1 {
  opacity: 0;
  transform: translateZ(1000vw);
  visibility: hidden;
  transition: opacity 3000ms ease-out, transform 600ms ease-out,
    visibility 3000ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section2 {
  opacity: 0;
  transform: translateZ(50vw);
  visibility: hidden;
  transition: opacity 2000ms ease-out, transform 600ms ease-out,
    visibility 2000ms ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in-section1.is-visible,
.fade-in-section2.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
