@import url('https://rsms.me/inter/inter.css');
body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ag-select-list {
  max-height: 400px !important;
}

.ag-tooltip {
  background-color: #ffffff !important;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url('./font/Manrope.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Lexend Deca';
  src: local('Lexend Deca'),
    url('./font/LexendDecaRegular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Akshar';
  src: local('Akshar'), url('./font/Akshar-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'LettersforLearners';
  src: local('LettersforLearners'),
    url('./font/LettersforLearners.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'DryWhiteboardMarker-Regular';
  src: local('DryWhiteboardMarker-Regular'),
    url('./font/DryWhiteboardMarker-Regular.ttf') format('truetype');
  font-weight: normal;
}
