body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth !important;
}


@font-face {
  font-family: 'NextSoutherlandSerif';
  src: local('NextSoutherlandSerif'), url('./fonts/NextSoutherlandSerif.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'FogtwoNo5';
  src: local('FogtwoNo5'), url('./fonts/FogtwoNo5.ttf') format('truetype');
  font-weight: normal;
}