.chakra-slide{
  background: url('./ripple.png') !important;
  background-repeat: no-repeat !important;
  background-color: #2C5282 !important;
  background-size: 70% !important;
  background-position-x: 120%  !important;
  background-position-y: 75%  !important;
}

<<<<<<< HEAD
.chakra-modal__close-button{
  margin-top: 10px !important;
=======
.chakra-button{
  -webkit-margin-start: 0 !important;
  margin-inline-start: 0 !important;
>>>>>>> 80e2fd6ac471f2dc433aa8bc7b6ef92e321c85b0
}

h1{
  font-weight: bold !important;
  font-size: 40px !important;
}

h3{
  font-size: 18px !important;
}