<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear Participant,</p>
<p style="margin-bottom: 25px">
  Your payment for the 10-Year Celebration Banquet has been successfully
  received. We look forward to seeing you on September 13, 2025 at Hey Day
  Cuisine (<i>8/F, Crocodile Center, 79 Hoi Yuen Road, Kwun Tong)</i>!
</p>
<p style="margin-bottom: 25px">
  <i>
    If for any reason you can no longer make it to the banquet, please refer to
    the refund policy below and contact us at
    <a href="mailto:hongkong@hongkong.hmcc.net">hongkong@hongkong.hmcc.net</a>
  </i>
</p>
<h3 style="margin-bottom: 10px">Refund Policy:</h3>
<p style="margin-bottom: 25px">
  There will be <b>no refunds</b> for all payments, and cancellations.
</p>
<br />
<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
