<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear participant,</p>
<p style="margin-bottom: 25px">
  Your payment for the  !gnite Conference 2023: Now has been
  successfully received. We look forward to seeing you on May 26-27, 2023!
</p>
<p style="margin-bottom: 25px">
  If for any reason you can no longer make it to the conference, please refer to
  the refund policy below and contact us at
  <a href="mailto:ignite@hongkong.hmcc.net">ignite@hongkong.hmcc.net</a>
</p>
<h3 style="margin-bottom: 10px">Refund Policy:</h3>
<p style="margin-bottom: 25px">
  There will be a <b>$100 non-refundable deposit</b> for all cancellations. All
  cancellations after May 14,2023 are
  <b><i>completely non-refundable.</i></b> When submitting a refund request,
  please include the reason for the request in your email.
</p>
<br />
<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
