<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear participant,</p>
<p style="margin-bottom: 25px">
  Your payment for the  City Retreat Summer 2023: The Deep End has been
  successfully received. We look forward to seeing you on July 21-22, 2023!
</p>
<p style="margin-bottom: 25px">
<i>
  If for any reason you can no longer make it to the conference, please refer to
  the refund policy below and contact us at
  <a href="mailto:hongkong@hmcc.net">hongkong@hmcc.net</a>
  Note that there will be no refunds
</i>
</p>
<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
