<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Hi,</p>
<p style="margin-bottom: 25px">
  A new person has signed up to get connected with us, here are the details:
</p>
<br />
<p style="margin-bottom: 25px">Name: <%= fullName %></p>
<p style="margin-bottom: 25px">Email: <%= email %></p>
<p style="margin-bottom: 25px">Notes: <%= notes %></p>
<br />
<p style="margin-bottom: 25px">Please connect with them.</p>
<!--TODO: add content here-->
<p style="margin-bottom: 5px">Sincerely,</p>
<p style="margin-top: 0px">Creative Web Team</p>
