<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear Participant,</p>
<p style="margin-bottom: 25px">
  Your payment for the Soaring - Congregational Retreat 2025 has been successfully received. We look forward to seeing you on February 14-16, 2025!
</p>
<p style="margin-bottom: 25px">
  <i>
    If for any reason you can no longer make it to the retreat, please refer to
    the refund policy below and contact us at
    <a href="mailto:retreats@hongkong.hmcc.net">retreats@hongkong.hmcc.net</a>
  </i>
</p>
<h3 style="margin-bottom: 10px">Refund Policy:</h3>
<p style="margin-bottom: 25px">
  There will be a <b>50% non-refundable deposit</b> for all payments, and
  cancellations after the last day of regular registration
  <b>(February 6, 2025 at 2PM)</b> will be
  <b><i>completely non-refundable.</i></b> When submitting a refund request,
  please include the reason for the request in your email.
</p>
<br />
<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
