<html>
  <head>
    <title>Batch Parse Query Email</title>
  </head>
  <body>
    <p style="margin-bottom: 25px">Hi,</p>
    <p style="margin-bottom: 25px">
      Please fill in the blue cells in the attached sheet and reply to this email.
    </p>
    <br/>
    <p style="margin-bottom: 5px">Sincerely,</p>
    <p style="margin-top: 0px">T3CH Team</p>
  </body>
</html>
