<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear <%= fullName %>,</p>
<p style="margin-bottom: 25px">
  Thank you once again for your donation for Life Defined - Congregational
  Retreat 2023. We truly believe that it will help someone in our church to
  experience Christ powerfully during the retreat. We are looking forward to
  worshiping together on February 10-12, 2023!
</p>
<p style="margin-bottom: 25px">
  If you have any questions, please reach out to
  <a href="mailto:retreats@hongkong.hmcc.net">retreats@hongkong.hmcc.net</a>
</p>
<br />
<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
