<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear <%= fullName %>,</p>
<p style="margin-bottom: 15px">
  We have received your registration information for Soaring - Congregational Retreat on February 14-16, 2025 at Wu Kai Sha YMCA Youth Village!
</p>
<p style="margin-bottom: 15px">
  The Congregational Retreat will span over the course of 3 days and 2 nights (staying over at Wu Kai Sha YMCA Youth Village). We are excited to be united as one church and be focused to worship, pray, and hear God’s word together! Let’s look forward to finding out what it means to be freed from our sins and bondages and to soar in our relationship with God!
</p>
<p style="margin-bottom: 15px">
  Currently, your registration is <b><u>INCOMPLETE</u></b> until you have completed the payment, therefore please read the amount due and payment instructions below carefully so we can confirm your registration:
</p>
<p>
  <i><b>[For participants in Latitude]: please complete the parental consent form <u>BEFORE</u> completing the 
    payment process. Your LIFE Group leader should have received a physical copy of this form!</b></i>
</p>
<p style="margin-bottom: 15px">
  <ul>
    <li><b>Registration Period:</b> registration starts on Sunday, November 17, 2024 and closes on <span style="color: red; font-weight: bold;">Thursday, February 6, 2025 at <b><u>2PM</u></b></span>.
      <ul>
        <li>Early Registration: Sunday, November 17, 2024 - Sunday, December 22, 2024</li>
        <li>Regular Registration: Monday, December 23, 2024 - Thursday, February 6, 2025</li>
      </ul>
    </li>
    <li><b>Registration Fee:</b>
      <ul>
        <li>Early Registration:
          <ul>
            <li>Individuals: $590</li>
            <li>Families with 1 Adult: $1450</li>
            <ul>
              <li>Additional Adult: $150 per adult</li>
              <li>Children (Age 3-11): $100 per child</li>
              <li>Kids (Age 0-3) are free</li>
            </ul>
            <li>Latitude: $350</li>
          </ul>
        </li>
        <li>Regular Registration
          <ul>
            <li>Individuals:$750</li>
            <li>Families with 1 Adult: $1650</li>
            <ul>
              <li>Additional Adult: $150 per adult</li>
              <li>Children (Age 3-11): $100 per child</li>
              <li>Kids (Age 0-3) are free</li>
            </ul>
            <li>Latitude: $400</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</p>
<p style="margin-bottom: 5px">
  When paying, please always leave a note in the <b>transfer remark</b> that states:
</p>
<p><b>"RT: [FULLNAME] [TYPE]"</b></p>

<ul>
  <li>TYPE:
    <ul>
      <li>INDIVIDUAL</li>
      <li>FAMILY</li>
      <li>LATITUDE</li>
    </ul>
  </li>
  <li>Example Remark Note: RT: Bob Chan [INDIVIDUAL]</li>
  <li>If paying for multiple people: “RT: NAME1 TYPE, NAME2 TYPE”</li>
  <li><i>Note: Please email  <a href="mailto:retreats@hongkong.hmcc.net"> retreats@hongkong.hmcc.net </a>with the appropriate name paid for and registration type if you forget to leave a remark or memo in the online giving process</i></li>
</ul>

<h2 style="margin-bottom: 10px"><u>Payment Methods:</u></h2>
<ol style="margin-bottom: 15px">
  <li>
    <b>Faster Payment System</b>
    <ul>
      <li>
        Open your mobile banking FPS interface and scan the QR code or input the FPS identifier
        <ul>
          <li>Name: <b>HARVEST MISSION COMMUNITY CHURCH</b></li>
          <li>FPS ID:<b>167534304</b></li>
          <li><a href="https://hongkong.hmcc.net/images/giving/FPSQR.png">FPS QR Code:</a></li>
          <img
            style="
              align-self: center;
              height: 100px;
              width: auto;
              margin-left: auto;
              margin-right: auto;
            " 
            src="https://hongkong.hmcc.net/images/giving/FPSQR.png"
          />
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <b>Direct Bank Transfer</b>
    <ul>
      <li>
        Account Details
        <ul>
          <li>
            Bank Name: <b>China Construction Bank (Asia) Corporation Limited</b>
          </li>
          <li>Bank Code: <b>009</b></li>
          <li>Branch Code: <b>845</b></li>
          <li>
            Account Name:
            <b>Harvest Mission Community Church (Hong Kong) Limited</b>
          </li>
          <li>Account Number: <b>013012090</b></li>
        </ul>
      </li>
      <li>
        If our account name is too long and exceeds the number of permitted
        characters, you may shorten it as "Harvest Community Church HK"
      </li>
      <li>
        <b>
          Please email a copy of your transfer receipt along with your Full Name
          within 2 weeks to
          <a href="mailto:stewardship@hongkong.hmcc.net"
            >stewardship@hongkong.hmcc.net</a
          >
        </b>
      </li>
    </ul>
  </li>
  <li>
    <b>Online Credit Card</b>
    <ul>
      <li>
        Online Payment Platform:
        <a href="https://tithe.ly/event-registration/#/7744590"
          >https://tithe.ly/event-registration/#/7744590</a
        >
      </li>
      <li>
        Kindly note that an extra transaction fee is included for online credit
        card transactions (3.5% + HKD $2.40 processing fee).
      </li>
    </ul>
  </li>
  <li>
    <b>In Person Payment (Cash)</b>
    <ul>
      <li>
        For cash payments, please reach out to your LG leader to assist you in transferring the funds to us. 
      </li>
      <li>
        Please indicate “Faster Payment System (FPS)” under the “Payment method” field in the registration form. 
      </li>
    </ul>
  </li>
</ol>

<p style="margin-bottom: 15px">
  If you have any questions or enquiries, please contact us at
  <a href="mailto:retreats@hongkong.hmcc.net">retreats@hongkong.hmcc.net</a>.
</p>

<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
