<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear <%= fullName %>,</p>
<p style="margin-bottom: 15px">
  We have received your registration information for <i>Life Defined - Congregational Retreat</i> on February 10-12, 2023 at YMCA Wu Kai Sha!
</p>
<p style="margin-bottom: 15px">
  Thank you for deciding to support someone in our church so that they are able to join our <i>Life Defined - Congregational Retreat</i> on February 10-12, 2023 at YMCA Wu Kai Sha! This email contains the procedure so you are able to follow through with this commitment and share the blessing that God has blessed you with. We believe that we are blessed to be a blessing!
</p>
<p style="margin-bottom: 15px">
  Please read the payment instructions below carefully so we can properly track your giving properly and allocate it to the appropriate people!
</p>
<p style="margin-bottom: 15px">
  When giving, please leave a note in the <b>transfer remark</b> that states:
</p>
<p>
  <b>“RT: [FULLNAME] Donation”</b>
</p>
<p style="margin-bottom: 15px">
  <ul>
    <li><i>Note: Please email retreats@hongkong.hmcc.net with the appropriate name paid for and registration type if you forget to leave a remark or memo in the online giving process</i>
    </li>
   </ul>
</p>

<h2 style="margin-bottom: 10px"><u>Payment Methods:</u></h2>

<ol style="margin-bottom: 15px">
  <li>
    <b>Faster Payment System</b>
    <ul>
      <li>
        Open your mobile banking FPS interface and scan the QR code or input the FPS identifier
      </li>
      <li>
        Name: <b>HARVEST MISSION COMMUNITY CHURCH</b>
        <ul>
          <li>FPS ID:<b>167534304</b></li>
          <li>FPS QR Code:</li>
          <img
            style="
              align-self: center;
              height: 100px;
              width: auto;
              margin-left: auto;
              margin-right: auto;
            " 
            src="https://hongkong.hmcc.net/images/giving/FPSQR.png"
          />
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <b>Direct Bank Transfer</b>
    <ul>
      <li>
        Account Details
        <ul>
          <li>
            Bank Name: <b>China Construction Bank (Asia) Corporation Limited</b>
          </li>
          <li>Bank Code: <b>009</b></li>
          <li>Branch Code: <b>845</b></li>
          <li>
            Account Name:
            <b>Harvest Mission Community Church (Hong Kong) Limited</b>
          </li>
          <li>Account Number: <b>013012090</b></li>
        </ul>
      </li>
      <li>
        If the account name is too long and exceeds the number of permitted
        characters, you may shorten it as "Harvest Community Church HK"
      </li>
      <li>
        <b>
          Please email a copy of your transfer receipt along with your Full Name
          within 2 weeks to
          <a href="mailto:stewardship@hongkong.hmcc.net"
            >stewardship@hongkong.hmcc.net</a
          >
        </b>
      </li>
    </ul>
  </li>
  <li>
    <b>Online Credit Card</b>
    <ul>
      <li>
        Online Payment Platform:
        <a href="https://tithe.ly/event-registration/#/6357322 "
          >https://tithe.ly/event-registration/#/6357322</a
        >
      </li>
      <li>
        Kindly note that an extra transaction fee is included for online credit
        card transactions (3.5% + HKD $2.40 processing fee).
      </li>
    </ul>
  </li>
  <li>
    <b>In Person Payment (Cash)</b>
    <ul>
      <li>
        Our Host Team will set up a welcoming table for in person payment. The table will be open to receive payment from 12-12.30 PM on Sundays. 
      </li>
      <li>
        Please indicate “In Person Payment” under the “Payment method” field in
        the registration form.
      </li>
    </ul>
  </li>
</ol>

<p style="margin-bottom: 15px">
  If you have any questions or enquiries, please contact us at
  <a href="mailto:retreats@hongkong.hmcc.net">retreats@hongkong.hmcc.net</a>.
</p>

<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
