<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear <%= fullName %>,</p>
<p style="margin-bottom: 15px">
  We have received your registration information for <i>Life Defined - Congregational Retreat</i> on February 10-12, 2023 at YMCA Wu Kai Sha!
</p>
<p style="margin-bottom: 15px">
  The Congregational Retreat will span over the course of 3 days and 2 nights (staying over at YMCA Wu Kai Sha).
  We are excited to come together as a church family to retreat from all the distractions in our lives and dedicate our focus to God. 
  Let’s look forward to a time of discovering the definition of our lives with God so we may joyfully live life with Him!
</p>
<p style="margin-bottom: 15px">
  Currently, your registration is incomplete until you have completed the payment, therefore please read 
  the amount due and payment instructions below carefully so we can confirm your registration:
</p>
<p>
  <i><b>[For participants in Latitude]: please complete the parental consent form <u>BEFORE</u> completing the 
    payment process. Your LIFE Group leader should have received a physical copy of this form!</b></i>
</p>
<p style="margin-bottom: 15px">
  <ul>
    <li>Registration Period
      <ul>
        <li>Early registration starts on Sunday, Nov 20, 2022 and closes on <span style="color:red;">Sunday, Dec 18, 2022 at 2PM.</span></li>
        <li>Regular registration starts on Sunday, Dec 18, 2022 at 2:01PM and closes on <span style="color:red;">Sunday, February 5, 2023 at 2PM.</span></li>
      </ul>
    </li>
    <li>Registration Fee
      <ul>
        <li>Early Registration
          <ul>
            <li>Individuals: <b>$580</b></li>
            <li>Families: <b>$1,500 for 2 nights, $1100 for 1 night.</b></li>
            <li>Latitude: <b>$290</b></li>
          </ul>
        </li>
        <li>Regular Registration
          <ul>
            <li>Individuals: <b>$720</b></li>
            <li>Families: <b>$1,620 for 2 nights, $1220 for 1 night.</b></li>
            <li>Latitude: <b>$360</b></li>
          </ul>
        </li>
      </ul>
    </li>
   </ul>
</p>
<p style="margin-bottom: 5px">
  When paying, please always leave a note in the <b>transfer remark</b> that states:
</p>
<p><b>"RT: [FULLNAME] [TYPE]"</b></p>

<ul>
  <li>TYPE:
    <ul>
      <li>INDIVIDUAL</li>
      <li>FAMILY</li>
      <li>LATITUDE</li>
    </ul>
  </li>
  <li>Example Remark Note: RT: Bob Chan INDIVIDUAL</li>
  <li>If paying for multiple people: “RT: NAME1 TYPE, NAME2 TYPE”</li>
  <li><i>Note: Please email  <a href="mailto:retreats@hongkong.hmcc.net"> retreats@hongkong.hmcc.net </a>with the appropriate name paid for and registration type if you forget to leave a remark or memo in the online giving process</i></li>
</ul>


<h2 style="margin-bottom: 10px"><u>Payment Methods:</u></h2>

<ol style="margin-bottom: 15px">
  <li>
    <b>Faster Payment System</b>
    <ul>
      <li>
        Open your mobile banking FPS interface and scan the QR code or input the FPS identifier
        <ul>
          <li>Name: <b>HARVEST MISSION COMMUNITY CHURCH</b></li>
          <li>FPS ID:<b>167534304</b></li>
          <li>FPS QR Code:</li>
          <img
            style="
              align-self: center;
              height: 100px;
              width: auto;
              margin-left: auto;
              margin-right: auto;
            " 
            src="https://hongkong.hmcc.net/images/giving/FPSQR.png"
          />
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <b>Direct Bank Transfer</b>
    <ul>
      <li>
        Account Details
        <ul>
          <li>
            Bank Name: <b>China Construction Bank (Asia) Corporation Limited</b>
          </li>
          <li>Bank Code: <b>009</b></li>
          <li>Branch Code: <b>845</b></li>
          <li>
            Account Name:
            <b>Harvest Mission Community Church (Hong Kong) Limited</b>
          </li>
          <li>Account Number: <b>013012090</b></li>
        </ul>
      </li>
      <li>
        If our account name is too long and exceeds the number of permitted
        characters, you may shorten it as "Harvest Community Church HK"
      </li>
      <li>
        <b>
          Please email a copy of your transfer receipt along with your Full Name
          within 2 weeks to
          <a href="mailto:stewardship@hongkong.hmcc.net"
            >stewardship@hongkong.hmcc.net</a
          >
        </b>
      </li>
    </ul>
  </li>
  <li>
    <b>Online Credit Card</b>
    <ul>
      <li>
        Online Payment Platform:
        <a href="https://tithe.ly/event-registration/#/6357322 "
          >https://tithe.ly/event-registration/#/6357322</a
        >
      </li>
      <li>
        Kindly note that an extra transaction fee is included for online credit
        card transactions (3.5% + HKD $2.40 processing fee).
      </li>
    </ul>
  </li>
  <li>
    <b>In Person Payment (Cash)</b>
    <ul>
      <li>
        Our Host Team will set up a welcoming table for in person payment. The table will be open to receive payment from 12-12.30 PM on Sundays. 
      </li>
      <li>
        Please indicate “In Person Payment” under the “Payment method” field in
        the registration form.
      </li>
    </ul>
  </li>
</ol>

<p style="margin-bottom: 15px">
  If you have any questions or enquiries, please contact us at
  <a href="mailto:retreats@hongkong.hmcc.net">retreats@hongkong.hmcc.net</a>.
</p>

<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
