<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Hello, <%= fullName %>!</p>
<p style="margin-bottom: 25px">
  Thank you for signing up for the HMCC HK Retreat 2022.
</p>
<p style="margin-bottom: 5px">Sincerely,</p>
<p style="margin-top: 0px">The HMCC HK Team</p>
