<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear <%= fullName %>,</p>
<p style="margin-bottom: 15px">
  We have received your registration information for <i>Here and Now - Undergraduate Retreat</i> on October 13-14, 2023 at Tai Tong Holiday Camp!
</p>
<p style="margin-bottom: 15px">
  The Undergraduate Retreat will span over the course of 2 days and 1 night (staying over at Tai Tong Holiday Camp). We are excited to be united as one campus ministry in HMCC and be focused to worship God and love others in our immediate context. Let's look forward to finding out what it means to live our lives in the here and now!
</p>
<p style="margin-bottom: 15px">
  Currently, your registration is <b><u>INCOMPLETE</u></b> until you have completed the payment, therefore please read the amount due and payment instructions below carefully so we can confirm your registration:
</p>
<p>
  <i><b>[For participants in Latitude]: please complete the parental consent form <u>BEFORE</u> completing the payment process. Your LIFE Group leader should have received a physical copy of this form!</b></i>
</p>
<p style="margin-bottom: 15px">
  <ul>
    <li><b>Registration Period</b>: Early registration starts on Sunday, September 10, 2023 and closes on <span style="color:red;">Sunday, October 8, 2023 <b><u>at 2PM.</u></b></span>
    </li>
    <li><b>Registration Fee</b>: HK$320
    </li>
   </ul>
</p>
<p style="margin-bottom: 5px">
  When paying, please always leave a note in the <b>transfer remark</b> that states:
</p>
<p><b>"RT: [FULLNAME] [TYPE]"</b></p>

<ul>
  <li>TYPE:
    <ul>
      <li>INDIVIDUAL</li>
      <li>LATITUDE</li>
    </ul>
  </li>
  <li>Example Remark Note: RT: Bob Chan INDIVIDUAL</li>
  <li>If paying for multiple people: “RT: NAME1 TYPE, NAME2 TYPE</li>
  <li><i>Note: Please email  <a href="mailto:retreats@hongkong.hmcc.net"> retreats@hongkong.hmcc.net </a>with the appropriate name paid for and registration type if you forget to leave a remark or memo in the online giving process</i></li>
</ul>


<h2 style="margin-bottom: 10px"><u>Payment Methods:</u></h2>

<ol style="margin-bottom: 15px">
  <li>
    <b>Faster Payment System</b>
    <ul>
      <li>
        Open your mobile banking FPS interface and scan the QR code or input the FPS identifier
        <ul>
          <li>Name: <b>HARVEST MISSION COMMUNITY CHURCH</b></li>
          <li>FPS ID:<b>167534304</b></li>
          <li>FPS QR Code:</li>
          <img
            style="
              align-self: center;
              height: 100px;
              width: auto;
              margin-left: auto;
              margin-right: auto;
            " 
            src="https://hongkong.hmcc.net/images/giving/FPSQR.png"
          />
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <b>Direct Bank Transfer</b>
    <ul>
      <li>
        Account Details
        <ul>
          <li>
            Bank Name: <b>China Construction Bank (Asia) Corporation Limited</b>
          </li>
          <li>Bank Code: <b>009</b></li>
          <li>Branch Code: <b>845</b></li>
          <li>
            Account Name:
            <b>Harvest Mission Community Church (Hong Kong) Limited</b>
          </li>
          <li>Account Number: <b>013012090</b></li>
        </ul>
      </li>
      <li>
        If our account name is too long and exceeds the number of permitted
        characters, you may shorten it as "Harvest Community Church HK"
      </li>
      <li>
        <b>
          Please email a copy of your transfer receipt along with your Full Name
          within 2 weeks to
          <a href="mailto:stewardship@hongkong.hmcc.net"
            >stewardship@hongkong.hmcc.net</a
          >
        </b>
      </li>
    </ul>
  </li>
  <li>
    <b>Online Credit Card</b>
    <ul>
      <li>
        Online Payment Platform:
        <a href="https://tithe.ly/event-registration/#/7744590"
          >https://tithe.ly/event-registration/#/7744590</a
        >
      </li>
      <li>
        Kindly note that an extra transaction fee is included for online credit
        card transactions (3.5% + HKD $2.40 processing fee).
      </li>
    </ul>
  </li>
  <li>
    <b>Cash</b>
    <ul>
      <li>
        For cash payments, please reach out to your LG leader to assist you in transferring the funds to us.
      </li>
      <li>
        Please indicate “Faster Payment System (FPS)” under the “Payment method” field in the registration form.
      </li>
    </ul>
  </li>
</ol>

<p style="margin-bottom: 15px">
  If you have any questions or enquiries, please contact us at
  <a href="mailto:retreats@hongkong.hmcc.net">retreats@hongkong.hmcc.net</a>.
</p>

<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
