<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear <%= fullName %>,</p>
<p style="margin-bottom: 15px">
  We have received your registration information for the <b>!gnite Conference 2023: Now</b>!
</p>
<p style="margin-bottom: 15px">
  The !gnite Conference aims to ignite people with a passion for God so that they can take 
  the Gospel to every nation in our generation. The conference will start on the evening of 
  Friday, May 26 and end during late night of Saturday May 27.
</p>
<p style="margin-bottom: 15px">
  Your registration is <b><i>incomplete</i></b> until you have completed the
  payment. Please read the amount due and payment instructions below carefully:
</p>
<p style="margin-bottom: 15px">
  Amount due:
  <ul>
    <li>
      Early registration is <b>$280</b> and closes on <b>April 30, 2023 (Sunday) at 2:00 PM</b>
    </li>
    <li>
      Regular registration <b>$370 </b> and closes on <b>May 14, 2023 (Sunday) at 2:00 PM</b>
    </li>
  </ul>
</p>
<p style="margin-bottom: 5px">
  When paying, please always leave a note in the transfer remark that states:
</p>
<p style="margin-bottom: 5px"><b>GO: [FULLNAME] [TYPE]</b></p>
<p style="margin-bottom: 5px">TYPE: EARLY/REGULAR</p>
<p style="margin-bottom: 5px">Example Remark Note: "GO: Bob Chan REGULAR"</p>
<p style="margin-bottom: 5px">If paying for multiple people: "GO: NAME1 TYPE, NAME2 TYPE”</p>
<p style="margin-bottom: 5px">
  Note: Please email
  <a href="mailto:ignite@hongkong.hmcc.net">ignite@hongkong.hmcc.net</a>
  with the appropriate name paid for and registration type if you forget to
  leave a remark or memo in the online giving process
</p>
<h2 style="margin-bottom: 10px">Ways to Pay:</h2>
<p style="margin-bottom: 5px">
  Payment can be made via direct bank transfer, FPS, or credit card.
</p>
<p style="margin-bottom: 5px">
  <i>
    Note: FPS or Direct Deposit is preferred as credit cards will incur a transaction fee.
  </i>
</p>
<ol style="margin-bottom: 15px">
  <li>
    Faster Payment System
    <ul>
      <li>
        Open your mobile banking FPS interface and input the FPS identifier
        <ul>
          <li>Name: <b>HARVEST MISSION COMMUNITY CHURCH</b></li>
          <li>FPS ID:<b>167534304</b></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Direct Bank Transfer
    <ul>
      <li>
        Account Details
        <ul>
          <li>
            Bank Name: <b>China Construction Bank (Asia) Corporation Limited</b>
          </li>
          <li>Bank Code: <b>009</b></li>
          <li>Branch Code: <b>845</b></li>
          <li>
            Account Name:
            <b>Harvest Mission Community Church (Hong Kong) Limited</b>
          </li>
          <li>Account Number: <b>13012090</b></li>
        </ul>
      </li>
      <li>
        If our account name is too long and exceeds the number of permitted
        characters, you may shorten it as "Harvest Community Church HK"
      </li>
      <li>
        <b>
          Please email a copy of your transfer receipt along with your Full Name
          within 2 weeks to
          <a href="mailto:stewardship@hongkong.hmcc.net"
            >stewardship@hongkong.hmcc.net</a
          >
        </b>
      </li>
    </ul>
  </li>
  <li>
    Online Credit Card
    <ul>
      <li>
        Online Payment Platform:
        <a href="https://bit.ly/TithelyCreditCard "
          >https://bit.ly/TithelyCreditCard</a
        >
      </li>
      <li>
        Kindly note that an extra transaction fee is included for online credit
        card transactions (3.5% + HKD $2.40 processing fee).
      </li>
    </ul>
  </li>
</ol>

<h2 style="margin-bottom: 10px">Refund policy:</h2>
<p style="margin-bottom: 5px">
  If you will not be able to attend the conference and would like to receive a refund, 
  please contact <a href="mailto:ignite@hongkong.hmcc.net">ignite@hongkong.hmcc.net</a>. 
  There is a $100 non-refundable deposit for all cancellations.
</p>
<p style="margin-bottom: 15px">
  All cancellations after May 14, 2023 are completely non-refundable.
</p>

<p style="margin-bottom: 15px">
  If you have any questions or enquiries, please contact us at
  <a href="mailto:ignite@hongkong.hmcc.net">ignite@hongkong.hmcc.net</a>.
</p>

<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
