<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px">Dear, <%= fullName %>,</p>
<p style="margin-bottom: 15px">
  Thanks for signing up for the Congregational Retreat 2022. We have received
  your registration information for With Everything Congregational Retreat on
  February 25-27, 2022 at YMCA Wu Kai Sha!
</p>
<p style="margin-bottom: 15px">
  The congregational retreat will span over the course of 3 days and two nights
  (staying over at Wu Kai Sha YMCA). Together as a church, we will seek God’s
  heart through His word and worship together as a congregation. We believe God
  will meet us and speak to us powerfully as we learn more about what it means
  to worship God with everything we have.
</p>
<p style="margin-bottom: 15px">
  <b>Your registration is <i>incomplete</i></b> until you have completed the
  payment. Please read the amount due and payment instructions below carefully:
</p>
<p style="margin-bottom: 5px">
  When paying, please always leave a note in the transfer remark that states:
</p>
<p style="margin-bottom: 5px"><b>RT: [FULLNAME] [TYPE]</b></p>
<p style="margin-bottom: 5px">TYPE: EARLY/REGULAR/FAMILY</p>
<p style="margin-bottom: 5px">Example Remark Note: RT: Bob Chan EARLY</p>
<p style="margin-bottom: 5px">
  Note: Please email
  <a href="mailto:retreats@hongkong.hmcc.net">retreats@hongkong.hmcc.net</a>
  with the appropriate name paid for and registration type if you forget to
  leave a remark or memo in the online giving process
</p>
<p style="margin-bottom: 15px">
  If paying for multiple people: “RT: NAME1 TYPE, NAME2 TYPE”
</p>
<h2 style="margin-bottom: 10px">Ways to Pay:</h2>

<ol style="margin-bottom: 15px">
  <li>
    Faster Payment System
    <ul>
      <li>
        Open your mobile banking FPS interface and scan the QR code or input the
        FPS identifier
      </li>
      <li>
        <ul>
          <li>Name: HARVEST MISSION COMMUNITY CHURCH</li>
          <li>FPS ID: 16753430</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Direct Bank Transfer
    <ul>
      <li>
        Account Details
        <ul>
          <li>
            Bank Name: <b>China Construction Bank (Asia) Corporation Limited</b>
          </li>
          <li>Bank Code: <b>009</b></li>
          <li>Branch Code: <b>845</b></li>
          <li>
            Account Name:
            <b>Harvest Mission Community Church (Hong Kong) Limited</b>
          </li>
          <li>Account Number: <b>13012090</b></li>
        </ul>
      </li>
      <li>
        If our account name is too long and exceeds the number of permitted
        characters, you may shorten it as "Harvest Community Church HK"
      </li>
      <li>
        <b>
          Please email a copy of your transfer receipt along with your Full Name
          within 2 weeks to
          <a href="mailto:stewardship@hongkong.hmcc.net"
            >stewardship@hongkong.hmcc.net</a
          >
        </b>
      </li>
    </ul>
  </li>
  <li>
    Online Credit Card
    <ul>
      <li>
        Online Payment Platform:
        <a href="https://tithe.ly/event-registration/#/4589625"
          >https://tithe.ly/event-registration/#/4589625</a
        >
      </li>
      <li>
        Kindly note that an extra transaction fee is included for online credit
        card transactions (3.5% + HKD $2.40 processing fee).
      </li>
    </ul>
  </li>
  <li>
    In Person Payment
    <ul>
      <li>
        Host Team will set up a welcoming table for in person payment (near the
        entrance of Organize)
      </li>
      <li>
        Please indicate “In Person Payment” under the “Payment method” field in
        the registration form.
      </li>
    </ul>
  </li>
</ol>

<p style="margin-bottom: 15px">
  If you have any questions or enquiries, please contact us at
  <a href="mailto:retreats@hongkong.hmcc.net">retreats@hongkong.hmcc.net</a>.
</p>

<p style="margin-bottom: 5px">God Bless,</p>
<p style="margin-top: 0px">HMCC of HK</p>
