.flip-container {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  /* This container is needed to position the front and back side */
  .flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;

    /* Position the front and back side */
    .front,
    .back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }

    /* Style the back side */
    .back {
      transform: rotateY(180deg);
    }
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  &:hover .flipper {
    transform: rotateY(180deg);
  }
}
