.flip-container {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  /* This container is needed to position the front and back side */
  .flipper {
    transition: transform 0.4s;
    transform-style: preserve-3d;

    /* Position the front and back side */
    .front,
    .back {
      position: absolute;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }

    /* Style the front side */
    .front {
      z-index: 2;
      transform: rotateY(0);
    }

    /* Style the back side */
    .back {
      z-index: 1;
      transform: rotateY(180deg);
    }
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  &:hover .flipper {
    transform: rotateY(180deg);
  }
}
